<!DOCTYPE html>
<html lang="en">
<head>
    <title>Transaction Details</title>
</head>
<body>
    <h1>Transaction Details</h1>
    <p>TXID: {{ tx.txid }}</p>
    <p>Inputs:</p>
    <ul>
        {% for vin in tx.vin %}
            <li>{{ vin.txid }}:{{ vin.vout }}</li>
        {% endfor %}
    </ul>
    <p>Outputs:</p>
    <ul>
        {% for vout in tx.vout %}
            <li>{{ vout.value }} BTC to {{ vout.scriptPubKey.addresses[0] }}</li>
        {% endfor %}
    </ul>
    <a href="/">Back</a>
</body>
</html>

